{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>{% block title %}Flask Course | {% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css") }}" />
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{messages.0.0}} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for category, message in messages  %}
                    {{ message }} </br>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock  %}

    {% block scripts %}
        {{ super() }}
    {% endblock  %}
{% endblock %}
