{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }} Welcome
{% endblock title %}

{% block content %}
    <div class="wrapper-tasks">
        <div class="wrapper-tasks-header">
            <div>
                {% if user_name %}
                    <h1>Hi {{ user_name }}! start creating new tasks.</h1>
                {% endif %}

                {{ wtf.quick_form(todo_form) }}
            </div>
        </div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th width="15%">Status</th>
                        <th width="15%">Change Status</th>
                        <th width="15%">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            {{ macros.render_todo(todo, delete_form, update_form) }}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock  %} 