{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo, delete_form, update_form) %}
    <td>{{ todo.to_dict().description }}</td>
    <td>
        <div class="{{ 'success' if todo.to_dict().done  else 'warning'}}">
            {{ todo.to_dict().done }}
        </div>
    </td>
    <td>{{ wtf.quick_form(update_form, action=url_for('update', todo_id=todo.id, done=todo.to_dict().done)) }}</td>
    <td>{{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id)) }}</td>
{% endmacro %}