<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/to-do-list.svg') }}" alt="Lista de tareas">
                <span>THINGS TO DO</span>
            </a>
        </div>

        <div class="navbar-collapse collapse">
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('hello') }}">My thing to do</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>